.SignInModal {
    width: 20rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 0.1rem solid #c13584;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignInModal-Image {
    display: block;
    object-fit: contain;
}
