.Header {
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 0.05rem solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderImage {
    display: block;
    object-fit: contain;
}
